
*{margin: 0px; padding: 0px;}


/* banner */
#banner{
    height: 150px;
    border-radius: 3px;
    background: rgb(252, 251, 250);
    overflow:hidden;
    background-image: url(img/degrade.jpg);

}

/* configuração do menu */
#menu{
    height: 40px;
    background: rgb(229, 206, 241);
    box-shadow: 0 2px 18px 0 rgb(129 162 182 / 20%);
    box-sizing: border-box;
    flex-direction: row;    
    justify-content: space-between;
    padding: 0 48px;
    position: relative;
}

/* menu cor ao passar mouse */ 
#menu li a:hover, #menu li a:active { 
    border-top: 5px solid rgb(148, 204, 218);
}

/*configuração di menu li */ 
#menu li a,  #menu li a:hover, #menu li a:active{ 
    display: block;
    text-decoration: none; 
    color: #070607;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    font-family: arial;           
}

/* posição do menu */
#menu li{
    display: flex;
    margin: 10px 2px 2px 10px;
}

/* posição do menu */
#menu ul{
    display: flex;
    flex-direction: row;
}

/* posição do menu */
#itens{
    flex-direction: row;
    float: left;
    display: flex;
    text-align: left;
}

/* posição do menu */
#contatos{
    flex-direction: row;
    float: right;
    display: flex;
    text-align: right;
}

/*estrutura do site */
#corpo{
    min-height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Corpo */
body{
    width:100%;
    height: 100%;
    background:  rgb(255,215,0); 
    font-family: arial;
    font-size: 1em;  
    color: rgb(0, 0, 0); 
    font-weight: bold; 
    padding: 10px;
    background-image: url(img/degrade.jpg);
  
}

/* Zera linha dos fildsets (formulários) */
fieldset {
    border: 0;
}

/* configuração do formulário */
form{
    width: 60%;
    margin-top: auto;
    border-color: rgb(0, 0, 0);
    background: rgb(254, 255, 254);
    border-bottom-right-radius: 50px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* cria espaço lateral e coloca ao lado para o fildset */
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

/* Edição dos elementos */
input, select, button {
    font-family: arial;
    font-size: 1em;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

/* ao passar mouse campo muda a cor */
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #ece0f8;
}

/* cria espaçamento para os campos */
.campo {
    margin-bottom: 1em;
}

/* edica campos / pula linha */
.campo label {
    margin-bottom: 0.2em;
    color: rgb(0, 0, 0); /* cor das palavras da label */
    display: block;
}

/* botão enviar do formulário */
.botao {
    font-size: 1.2em;
    background: rgb(148, 204, 218);
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: relative;
    float: left;
    margin-right: 10px;
}

/* Elemento de classe botao com o estado "hover" */
.botao:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* muda cursor para botão e select*/
.botao, select{
    cursor: pointer;
}

/* Pagina sobre - edição - Imagem */
.flavia{
    float:left;
    padding: 15px;
}

/* Pagina sobre - Configuração do texto */
p{
    font-family: arial;
    font-size: 12pt;
    color: rgb(0, 0, 0);
}

/* Pagina sobre - configuração da estrutura */
#sobre{
    width: 60%;
    margin-top: auto;
    border-color: rgb(0, 0, 0);
    background: rgb(254, 255, 254);
    border-bottom-right-radius: 50px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
        
}
 
 /* rodape */
#rodape{
    height: 40px;
    background: rgb(164, 223, 238);
    border-radius: 3px;
    bottom:0;
    width:100%;
}
    





